<form class="container" action="/procesar" method="post">
  <h1>Black and White Spa</h1>
  <hr>
  <div class="form-group">
    <label for="imagenurl">Imagen Url</label>
    <input type="input" class="form-control" id="imagenurl"  name="imagenurl" aria-describedby="imagenurlHelp" placeholder="Ingrese url imagen">
    <small id="imagenurlHelp" class="form-text text-muted">Url de la imagen a cambiar </small>
  </div>
  <button type="submit" class="btn btn-primary">Subir imagen al servidor</button>
  <hr>
</form>