@font-face {
  font-family: "roboto_condensedregular";
  src: url("./../font/robotocondensed-regular.woff2") format("woff2"), url("./../font/robotocondensed-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: black;
  font-family: "roboto_condensedregular", sans-serif;
  color: #dbdbdb;
}

body * {
  font-family: "roboto_condensedregular", sans-serif;
}
